# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Logs
app/logs/
logs/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build and distribution
build/
dist/
*.egg-info/

app/logs/
